/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "reset.css";
@import "sidebar.css";
@import "table.css";
@import "modal.css";
@import "buttons.css";

body { font-family: "Lato", sans-serif; }

.s-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.b-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.c-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.button-cards-layout {
    display: flex;
    justify-content: center;
    position: absolute;

    bottom: 0px;
    left: 0px;


}

.font-b {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.s-flex i {
    font-size: 24px;
    color: black;
}

.gr {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.topbar{
    height: 50px;
    border-bottom: 1.25px solid #c4dbdb62;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color:#424b63
    
}

.topbar i {
    font-size: 18px;
    color:black
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cdcfd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon i {
  font-size: 20px;
}

.content {
    color: #424b63;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
    padding-bottom: 10px;
    /* background-color: rgb(253, 253, 253); */
    
    margin-left: 20%;
    margin-top: 0%;
}

.logo {
    margin-top: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.config {
    margin-top: auto;
    margin-bottom: 5px;
}

.content h1 {
    margin-bottom: 0px;
    margin-top: 15px;
    color: rgb(56, 56, 56);
}

.welcome {
    font-size: 14px;
}

.icon-background {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cdcfd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-b-blue {
    background-color: #bdd9fe;
    color: #0e58f0;
    font-size: 24px;
}

.i-b-yellow {
    background-color: #fce793;
    color: #c85b01;
    font-size: 24px;
}

.i-b-green {
    background-color: #bdfec2;
    color: #009200;
    font-size: 24px;
}

.i-b-purple {
    background-color: #d6bdfe;
    color: #5d0092;
    font-size: 24px;
}