input {
    height: 40px;
    padding: 0 12px;

    border: 1px solid #d1d5db;
    border-radius: 6px;

    background-color: white;
    color: #424b63;

    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #042861;
}

select {
    height: 40px;
    padding: 0 12px;

    border: 1px solid #d1d5db;
    border-radius: 6px;

    background-color: white;
    color: #424b63;

    font-size: 14px;
    outline: none;
    cursor: pointer;
}

select:focus {
    border-color: #042861;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.gap-10 {
    gap: 10px
}

.gap-25 {
    gap: 25px
}