.info-tables {
    font-size: 14px;
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 400px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    table-layout: fixed;
    
}

td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table td,
table th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.section-header {
    margin: 0;
    display: flex;
    color: black;
    justify-content: space-between;
    border-bottom: 1px solid #c4dbdb62;
    align-items: center;
}
.section-header h2 {
    margin: 10px 0 10px 0;
}

.table-services {
    background-color: white;
    border-radius: 6px;
    border: 1.25px solid #c4dbdb62;
    padding: 0 15px 15px 15px;
}

.table-p {
    width: 40%
}

.table-m {
    width: 60%
}

.table-services td {
    border-bottom: 1px solid #c4dbdb62;
}